<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link href="../res/image/logo1.png" rel="shortcut icon"/>
    <link rel="stylesheet" href="../res/css/style.css">

    <script type="text/javascript" src="../res/js/script.js"></script>

    <title>地图</title>
</head>
<body>
<div class="boxList">
    <div class="detailBox">
        <div class="mainBox">
            <h4>XX业务员</h4>
            <h5>xxxx年xx月xx日</h5>
        </div>
        <ol id="taskList">

        </ol>
        <div id="btn-box">
            <div>保存</div>
        </div>
        <div id="Canvas" style="display: none">保存成功</div>
    </div>
</div>
<div id="allmap"></div>
</body>
</html>